:host {
    height: 100vh !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100% !important;
    }
}