<div class="col-10 md:col-6 lg:col-5 xl:col-4 p-3 border-1 border-gray-300 border-round-lg">
    <h1 class="text-center mt-5 mb-7">Register</h1>
    <form [formGroup]="loginForm">
        <div class="form-grid grid">
            <div class="col-12 field mb-2">
                <label class="w-full mb-2">User Name:</label>
                <input class="w-full" pInputText type="text" formControlName="username" />

                <div class="text-red-500 mt-1" *ngIf="checkControlError('username', 'required')">
                    User name is required
                </div>
            </div>

            <div class="col-12 field mb-2">
                <label class="w-full mb-2">Email:</label>
                <input class="w-full" pInputText type="email" formControlName="email" />

                <div class="text-red-500 mt-1" *ngIf="checkControlError('email', 'required')">
                    Email is required
                </div>
                <div class="text-red-500 mt-1" *ngIf="checkControlError('email', 'email')">
                    Invalid Email
                </div>
            </div>

            <div class="col-12 field mb-2">
                <label class="w-full mb-2">Password:</label>
                <input class="w-full" pInputText type="password" formControlName="password" />

                <div class="text-red-500 mt-1" *ngIf="checkControlError('password', 'required')">
                    Password is required
                </div>
                <div class="text-red-500 mt-1" *ngIf="checkControlError('password', 'minlength')">
                    Minimum 5 characters required
                </div>
            </div>

            <div class="col-12 field mb-2">
                <p-dropdown class="w-full" [options]="roles" formControlName="roles"></p-dropdown>

            </div>

        </div>

        <button type="button" (click)="onSubmit()" pButton>Register</button>
    </form>

    <div class="flex justify-content-end align-content-center mt-3">
        <p>Already a menber? </p><a routerLink="/login" class="ml-1"> Login Here</a>
    </div>
</div>